.idle { 
  height: 32px;
  width: 32px;
  animation: idle steps(4); 
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  background-image: url('../assets/idle_cat.png');
  image-rendering: pixelated;
}

@keyframes idle {
  from { background-position:0px 0px; }
  to { background-position:132px 0px; }
}


.glow {
  animation: glowing-effect;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes glowing-effect {
    0% {
        filter: contrast(100%);
    }
    80% {
        filter: contrast(150%);
    }
    100% {
        filter: contrast(100%);
    }
}

.hurt {
  animation: hurt;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition-timing-function: ease;
}

@keyframes hurt {
    0% {
        background: #333;
    }
    40% {
        background: #d22;
    }
    60%, 100% {
        background: #333;
    }
}

 

.deadMap {
  animation: dying;
  animation-duration: 1.5s;
  filter: grayscale(100%);
}

@keyframes dying {
    0% {
        filter: grayscale(0%);
    }
    100% {
        filter: grayscale(100%);
    }
}
