.idle { 
  height: 32px;
  width: 32px;
  animation: idle steps(4); 
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  background-image: url('../assets/idle_cat.png');
  image-rendering: pixelated;
}

@keyframes idle {
  from { background-position:0px 0px; }
  to { background-position:132px 0px; }
}
