html, body {
  margin: 0px;
  overflow: hidden;
  background: #333;
  width: 100vw;
  height: 100vh;
  font-family: 'Do Hyeon', sans-serif;
}
#root {
  overflow: hidden;
}

.version {
    position: fixed;
    left: 1vmin;
    bottom: 1vmin;
    font-size: 2vmin;
    color: #999;
}
